name: deploy

on: workflow_dispatch

env:
  DOCKER_IMAGE: balancing
  VERSION: '1.0'
  TARGET_FOLDER: images
  HOST_NAME: 'https://balancing.britad.com'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: define build version
        id: default-version
        run: echo "TAG_VERSION=${GITHUB_RUN_ID}" >> $GITHUB_ENV

      - name: build docker
        id: build-docker
        run: docker build --network main_network -t "${{env.DOCKER_IMAGE}}:${{env.VERSION}}.${{env.TAG_VERSION}}" --build-arg DATABASE_URL="${{secrets.DATABASE_URL}}" --build-arg HOST_NAME="${{env.HOST_NAME}}" .

      - name: stop old container if exist
        run: |
          docker stop "${{env.DOCKER_IMAGE}}" || true
          docker rm "${{env.DOCKER_IMAGE}}" || true

      - name: deploy new container
        run: |
          docker run -d \
            --name "${{env.DOCKER_IMAGE}}" \
            --network main_network \
            --restart=always \
            -p 3001:3000 \
            -e DATABASE_URL="${{secrets.DATABASE_URL}}" \
            -e HOST_NAME="${{env.HOST_NAME}}" \
            -e CHANNEL_ID="${{secrets.CHANNEL_ID}}" \
            -e CHANNEL_SECRET="${{secrets.CHANNEL_SECRET}}" \
            "${{env.DOCKER_IMAGE}}:${{env.VERSION}}.${{env.TAG_VERSION}}"
        
